asgiref==3.7.2
Django==5.0.1
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.14.0
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.12
typing_extensions==4.9.0
